.form-group label {
    margin-bottom: 0;
    padding-left: 0;
}

.label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.form-control--inline {
    display: inline-block;
    width: auto;
}
