.navbar {
    display: block;
    text-align: center;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    opacity: 0.95%;
    transition: opacity 0.3s ease-out;
}

.navbar-brand:hover {
    opacity: 1%;
}

.navbar__logo {
    height: 40px;
    vertical-align: middle;
}

.navbar__app-name {
    display: none;
}

@media only screen and (min-width: $tablet-width) {
    .navbar__app-name {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
    }
}