.navbar {
    box-shadow: 0 0 10px 0 $gray-800;
}

.navbar-brand {
    opacity: 0.95;
    transition: opacity 0.3s ease-out;
}

.navbar-brand:hover {
    opacity: 1;
}

.navbar__logo {
    height: 40px;
    vertical-align: middle;
}

.navbar__app-name {
    display: none;
}

@media only screen and (min-width: $tablet-width) {
    .navbar__app-name {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
    }
}
