.table--trades thead th, .table--trades tbody td {
    vertical-align: middle;
}

.table--trades thead {
     background: #343a40;
    color: white;
}

.addTradeToggle {
    padding-top: 10px;
    text-align: right;
}

.btn {
    margin: 0 6px;
}

.table--trades .no-padding {
    padding: 0;
}

.btn--edit-trade {
    padding: 2px 6px;
}

.btn--delete-trade {
    padding: 0 6px;
    font-weight: 700;
    border-radius: 50%;
}

.sort-by, .order-by {
    cursor: pointer;
}

.pips-count label {
    font-weight: 700;
    align-self: center;
    margin-bottom: 0;
}

@media only screen and (max-width: $tablet) {
    .table--trades thead tr {
        display: none;
    }

    .table--trades td {
        display: block;
        width: 100%;
        padding: 4px 10px;
    }

    .table--trades td:before {
        content: attr(data-title) ": ";
        margin-right: 8px;
        font-weight: bold;
    }

    .table--trades td.no-title:before, .table--trades .no-trades:before {
        content: none;
    }

    .table--trades td.no-title {
        display: inline-block;
        width: 50%;
    }

    .delete-trade-container {
        text-align: right;
    }

    .no-trades {
        width: 100%;
    }
}