.table--trades {
    border: 1px solid #262626;
}

.table--trades.table--trades th,
.table--trades.table--trades td {
    vertical-align: middle;
    border: none;
    text-align: center;
}

.table--trades thead {
    background: #343a40;
    color: white;
}

.add-trade-trigger-wrapper {
    padding-top: 10px;
    text-align: right;
}

.table--trades .btn {
    margin: 0 6px;
}

.table--trades .no-padding {
    padding: 0;
}

.btn--view-trade {
    padding: 2px 6px;
    @include button-variant($blue, $blue);
}

.btn--delete-trade {
    padding: 0 8px 2px;
    font-weight: 700;
    border-radius: 50%;
    float: right;
}

.sort-by,
.order-by {
    cursor: pointer;
}

.counters {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.counters .label {
    text-align: right;
    padding-right: 0;
}

.counters .form-group {
    padding: 0 2px;
}

.counters .form-control {
    text-align: center;
}

.counters__pips-won,
.counters__pips-remaining,
.counters__win-loss {
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    padding: 17px 0;
    text-align: center;
    font-weight: 700;
    background: #cdcdcd;
    transition: background-color 0.3s ease-in, font-color 0.3s ease-in;
}

.beyond-target,
.beyond-target:focus,
.above-target,
.above-target:focus,
.on-target,
.on-target:focus,
.off-target,
.off-target:focus,
.way-off-target,
.way-off-target:focus {
    color: white;
}

.beyond-target.beyond-target {
    background: darken($green, 15);
}

.above-target.above-target {
    background: $green;
}

.on-target.on-target {
    background: $blue;
}

.close-to-target.close-to-target {
    background: $yellow;
}
.close-to-target,
.close-to-target:focus {
    color: $body-color;
}

.off-target.off-target {
    background: $orange;
}

.way-off-target.way-off-target {
    background: $red;
}

.filters label {
    margin-bottom: 0;
    font-weight: 700;
}

.no-trades.no-trades {
    text-align: center;
}

.modal-body .form-group {
    font-weight: 700;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: $tablet-width) {
    .table--trades thead tr {
        display: none;
    }

    .trades__trade {
        border: 1px solid #262626;
    }

    .table--trades td {
        display: block;
        width: 100%;
        padding: 4px 10px;
    }

    .table--trades td:before {
        content: attr(data-title) ": ";
        font-weight: bold;
    }

    .table--trades .no-title:before,
    .table--trades .no-trades:before {
        content: none;
    }

    .btn--delete-trade {
        float: none;
    }

    .no-trades {
        width: 100%;
    }

    .table--trades .no-padding {
        padding: 4px 0;
    }
}