.navbar {
  display: block;
  text-align: center; }

.navbar-brand.navbar-brand {
  margin-right: 0;
  color: gold; }

.navbar-brand.navbar-brand:hover {
  color: #e6c200; }

.table--trades thead th, .table--trades tbody td {
  vertical-align: middle; }

.table--trades thead {
  background: #343a40;
  color: white; }

.addTradeToggle {
  padding-top: 10px;
  text-align: right; }

.btn {
  margin: 0 6px; }

.table--trades .no-padding {
  padding: 0; }

.btn--edit-trade {
  padding: 2px 6px; }

.btn--delete-trade {
  padding: 0 6px;
  font-weight: 700;
  border-radius: 50%; }

.footer {
  text-align: center;
  background-color: #f5f5f5;
  color: #6c757d;
  padding: 4px; }

.footer p {
  margin: 4px; }

.myriad-text {
  color: gold; }

.myriad-text:hover {
  color: #e6c200; }
