.navbar {
  display: block;
  text-align: center; }

.navbar-brand {
  margin: 0;
  padding: 0;
  opacity: 0.90;
  transition: opacity 0.3s ease-out; }

.navbar-brand:hover {
  opacity: 1; }

.navbar__logo {
  height: 40px;
  vertical-align: middle; }

.navbar__app-name {
  display: none; }

@media only screen and (min-width: 768px) {
  .navbar__app-name {
    display: inline-block;
    height: 30px;
    vertical-align: middle; } }

.table--trades {
  border: 1px solid #262626; }

.table--trades.table--trades th,
.table--trades.table--trades td {
  vertical-align: middle;
  border: none;
  text-align: center; }

.table--trades thead {
  background: #343a40;
  color: white; }

.add-trade-trigger-wrapper {
  padding-top: 10px;
  text-align: right; }

.table--trades .btn {
  margin: 0 6px; }

.table--trades .no-padding {
  padding: 0; }

.btn--view-trade {
  padding: 2px 6px; }

.btn--delete-trade {
  padding: 0 6px;
  font-weight: 700;
  border-radius: 50%;
  float: right; }

.sort-by, .order-by {
  cursor: pointer; }

.pips-count label {
  font-weight: 700; }

.pips-count {
  align-items: center;
  justify-content: center; }

.beyond-target,
.beyond-target:focus,
.above-target,
.above-target:focus,
.on-target,
.on-target:focus,
.off-target,
.off-target:focus,
.way-off-target,
.way-off-target:focus {
  color: white; }

.beyond-target.beyond-target {
  background: #54a754; }

.above-target.above-target {
  background: #b5c82f; }

.on-target.on-target {
  background: gray; }

.close-to-target.close-to-target {
  background: #fffc00; }

.close-to-target,
.close-to-target:focus {
  color: black; }

.off-target.off-target {
  background: #e1a02f; }

.way-off-target.way-off-target {
  background: #e52525; }

.filters label {
  margin-bottom: 0;
  font-weight: 700; }

.pips-count label {
  text-align: right;
  padding-right: 0; }

.no-trades.no-trades {
  text-align: center; }

.modal-body .form-group {
  font-weight: 700;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

.form-group label {
  margin-bottom: 0;
  padding-left: 0; }

@media only screen and (max-width: 768px) {
  .table--trades thead tr {
    display: none; }
  .trades__trade {
    border: 1px solid #262626; }
  .table--trades td {
    display: block;
    width: 100%;
    padding: 4px 10px; }
  .table--trades td:before {
    content: attr(data-title) ": ";
    margin-right: 8px;
    font-weight: bold; }
  .table--trades td.no-title:before,
  .table--trades .no-trades:before {
    content: none; }
  .btn--delete-trade {
    float: none; }
  .no-trades {
    width: 100%; }
  .table--trades .no-padding {
    padding: 4px 0; } }

.footer {
  text-align: center;
  background-color: #f5f5f5;
  color: #6c757d;
  padding: 4px; }

.footer p {
  margin: 4px; }
